$white: #fff4ce;
$blue-000: #406695;
$blue-100: #41607d;
$red-000: #bd4d42;

$amarillo-dk-000: #e2cc8a;
$amarillo-dk-100: #c1af78;
$grey-dk-300: #2e2925;
$amarillo-lt-000: #f7ecb2;

$body-background-color: $white;
$body-heading-color: $grey-dk-300;
$body-text-color: $grey-dk-300;
$link-color: $blue-000;
$nav-child-link-color: $red-000;
$sidebar-color: $amarillo-lt-000;
$base-button-color: #f5efcd;
$btn-primary-color: $red-000;
$code-background-color: $amarillo-lt-000;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $white;
$search-background-color: $white;
$search-result-preview-color: $red-000;